* text=auto !eol
/.gitchangelog.rc -text
.github/.travis.yml.old -text
.github/appveyor.yml.old -text
.github/release.yml -text
.github/reqs.sh -text
.github/setenv.sh -text
.github/travis-install.sh.old -text
.github/travis-setenv.sh.old -text
.github/workflows/ci.yml -text
/.lgtm.yml -text
/CMakeLists.txt -text
/CONTRIBUTING.md -text
/LICENSE.txt -text
/README.md -text
/README_EN.txt -text
/ROADMAP.md -text
api/CMakeLists.txt -text
api/python/parse.py -text
api/python/parse_bm.py -text
api/python/requirements_dev.txt -text
api/python/setup.py -text
api/ryml.i -text
bm/CMakeLists.txt -text
bm/bm_parse.cpp -text
bm/cases/appveyor.yml -text
bm/cases/compile_commands.json -text
bm/cases/travis.yml -text
bm/results/parse.linux.i7_6800K.md -text
/changelog.txt -text
changelog/0.1.0.md -text
ext/c4core/.github/.travis.yml.old -text
ext/c4core/.github/appveyor.yml.old -text
ext/c4core/.github/reqs.sh -text
ext/c4core/.github/setenv.sh -text
ext/c4core/.github/vagrant/Vagrantfile -text
ext/c4core/.github/vagrant/macos/Vagrantfile -text
ext/c4core/.github/vagrant/vagrant-provision.sh -text
ext/c4core/.github/workflows/run_tests.yml -text
ext/c4core/.gitmodules -text
ext/c4core/.old/log.hpp -text
ext/c4core/.old/util.hpp -text
ext/c4core/CMakeLists.txt -text
ext/c4core/LICENSE.txt -text
ext/c4core/README.md -text
ext/c4core/ROADMAP.md -text
ext/c4core/bm/CMakeLists.txt -text
ext/c4core/bm/charconv.cpp -text
ext/c4core/cmake/ConfigurationTypes.cmake -text
ext/c4core/cmake/CreateSourceGroup.cmake -text
ext/c4core/cmake/Doxyfile.full.in -text
ext/c4core/cmake/Doxyfile.in -text
ext/c4core/cmake/ExternalProjectUtils.cmake -text
ext/c4core/cmake/FindD3D12.cmake -text
ext/c4core/cmake/FindDX12.cmake -text
ext/c4core/cmake/GetFlags.cmake -text
ext/c4core/cmake/GetNames.cmake -text
ext/c4core/cmake/PVS-Studio.cmake -text
ext/c4core/cmake/PatchUtils.cmake -text
ext/c4core/cmake/PrintVar.cmake -text
ext/c4core/cmake/README.md -text
ext/c4core/cmake/Toolchain-PS4.cmake -text
ext/c4core/cmake/Toolchain-XBoxOne.cmake -text
ext/c4core/cmake/bm-xp/Makefile -text
ext/c4core/cmake/bm-xp/README.md -text
ext/c4core/cmake/bm-xp/bm_xp.js -text
ext/c4core/cmake/bm-xp/download-deps.sh -text
ext/c4core/cmake/bm-xp/index.html -text
ext/c4core/cmake/c4CatSources.cmake -text
ext/c4core/cmake/c4Doxygen.cmake -text
ext/c4core/cmake/c4GetTargetPropertyRecursive.cmake -text
ext/c4core/cmake/c4Project.cmake -text
ext/c4core/cmake/c4SanitizeTarget.cmake -text
ext/c4core/cmake/c4StaticAnalysis.cmake -text
ext/c4core/cmake/c4stlAddTarget.cmake -text
ext/c4core/src/c4/allocator.hpp -text
ext/c4core/src/c4/base64.cpp -text
ext/c4core/src/c4/base64.hpp -text
ext/c4core/src/c4/bitmask.hpp -text
ext/c4core/src/c4/blob.hpp -text
ext/c4core/src/c4/c4_pop.hpp -text
ext/c4core/src/c4/c4_push.hpp -text
ext/c4core/src/c4/c4core.natvis -text
ext/c4core/src/c4/char_traits.cpp -text
ext/c4core/src/c4/char_traits.hpp -text
ext/c4core/src/c4/charconv.hpp -text
ext/c4core/src/c4/common.hpp -text
ext/c4core/src/c4/compiler.hpp -text
ext/c4core/src/c4/config.hpp -text
ext/c4core/src/c4/cpu.hpp -text
ext/c4core/src/c4/ctor_dtor.hpp -text
ext/c4core/src/c4/enum.hpp -text
ext/c4core/src/c4/error.cpp -text
ext/c4core/src/c4/error.hpp -text
ext/c4core/src/c4/export.hpp -text
ext/c4core/src/c4/ext/debugbreak/COPYING -text
ext/c4core/src/c4/ext/debugbreak/GNUmakefile -text
ext/c4core/src/c4/ext/debugbreak/README.md -text
ext/c4core/src/c4/ext/debugbreak/debugbreak-gdb.py -text
ext/c4core/src/c4/ext/debugbreak/debugbreak.h -text
ext/c4core/src/c4/ext/debugbreak/test/break-c++.cc -text
ext/c4core/src/c4/ext/debugbreak/test/break.c -text
ext/c4core/src/c4/ext/debugbreak/test/break.gdb -text
ext/c4core/src/c4/ext/debugbreak/test/fib.c -text
ext/c4core/src/c4/ext/debugbreak/test/fib.gdb -text
ext/c4core/src/c4/ext/debugbreak/test/test-debugbreak.gdb -text
ext/c4core/src/c4/ext/debugbreak/test/trap.c -text
ext/c4core/src/c4/ext/debugbreak/test/trap.gdb -text
ext/c4core/src/c4/ext/sg14/README.md -text
ext/c4core/src/c4/ext/sg14/inplace_function.h -text
ext/c4core/src/c4/format.cpp -text
ext/c4core/src/c4/format.hpp -text
ext/c4core/src/c4/hash.hpp -text
ext/c4core/src/c4/language.cpp -text
ext/c4core/src/c4/language.hpp -text
ext/c4core/src/c4/memory_resource.cpp -text
ext/c4core/src/c4/memory_resource.hpp -text
ext/c4core/src/c4/memory_util.cpp -text
ext/c4core/src/c4/memory_util.hpp -text
ext/c4core/src/c4/platform.hpp -text
ext/c4core/src/c4/preprocessor.hpp -text
ext/c4core/src/c4/restrict.hpp -text
ext/c4core/src/c4/span.hpp -text
ext/c4core/src/c4/std/std.hpp -text
ext/c4core/src/c4/std/string.hpp -text
ext/c4core/src/c4/std/tuple.hpp -text
ext/c4core/src/c4/std/vector.hpp -text
ext/c4core/src/c4/substr.hpp -text
ext/c4core/src/c4/substr_fwd.hpp -text
ext/c4core/src/c4/szconv.hpp -text
ext/c4core/src/c4/time.cpp -text
ext/c4core/src/c4/time.hpp -text
ext/c4core/src/c4/type_name.hpp -text
ext/c4core/src/c4/types.hpp -text
ext/c4core/src/c4/unrestrict.hpp -text
ext/c4core/src/c4/windows.hpp -text
ext/c4core/src/c4/windows_pop.hpp -text
ext/c4core/src/c4/windows_push.hpp -text
ext/c4core/test/CMakeLists.txt -text
ext/c4core/test/c4/libtest/archetypes.cpp -text
ext/c4core/test/c4/libtest/archetypes.hpp -text
ext/c4core/test/c4/libtest/supprwarn_pop.hpp -text
ext/c4core/test/c4/libtest/supprwarn_push.hpp -text
ext/c4core/test/c4/libtest/test.cpp -text
ext/c4core/test/c4/test.hpp -text
ext/c4core/test/test_allocator.cpp -text
ext/c4core/test/test_base64.cpp -text
ext/c4core/test/test_bitmask.cpp -text
ext/c4core/test/test_blob.cpp -text
ext/c4core/test/test_char_traits.cpp -text
ext/c4core/test/test_charconv.cpp -text
ext/c4core/test/test_ctor_dtor.cpp -text
ext/c4core/test/test_enum.cpp -text
ext/c4core/test/test_enum_common.hpp -text
ext/c4core/test/test_error.cpp -text
ext/c4core/test/test_error_exception.cpp -text
ext/c4core/test/test_format.cpp -text
ext/c4core/test/test_log.cpp -text
ext/c4core/test/test_memory_resource.cpp -text
ext/c4core/test/test_memory_util.cpp -text
ext/c4core/test/test_preprocessor.cpp -text
ext/c4core/test/test_span.cpp -text
ext/c4core/test/test_std_string.cpp -text
ext/c4core/test/test_std_vector.cpp -text
ext/c4core/test/test_substr.cpp -text
ext/c4core/test/test_szconv.cpp -text
ext/c4core/test/test_type_name.cpp -text
ext/c4core/test/test_types.cpp -text
img/first_comparison_yaml_cpp.png -text
/requirements.txt -text
src/c4/yml/common.cpp -text
src/c4/yml/common.hpp -text
src/c4/yml/detail/checks.hpp -text
src/c4/yml/detail/parser_dbg.hpp -text
src/c4/yml/detail/print.hpp -text
src/c4/yml/detail/stack.hpp -text
src/c4/yml/emit.def.hpp -text
src/c4/yml/emit.hpp -text
src/c4/yml/export.hpp -text
src/c4/yml/node.hpp -text
src/c4/yml/parse.cpp -text
src/c4/yml/parse.hpp -text
src/c4/yml/preprocess.cpp -text
src/c4/yml/preprocess.hpp -text
src/c4/yml/std/map.hpp -text
src/c4/yml/std/std.hpp -text
src/c4/yml/std/string.hpp -text
src/c4/yml/std/vector.hpp -text
src/c4/yml/tree.cpp -text
src/c4/yml/tree.hpp -text
src/c4/yml/writer.hpp -text
src/c4/yml/yml.hpp -text
src/ryml.hpp -text
src/ryml.natvis -text
src/ryml_std.hpp -text
/tbump.toml -text
test/CMakeLists.txt -text
test/libyaml.hpp -text
test/parse_emit.cpp -text
test/test_basic.cpp -text
test/test_basic_json.cpp -text
test/test_block_folded.cpp -text
test/test_block_literal.cpp -text
test/test_case.cpp -text
test/test_case.hpp -text
test/test_complex_key.cpp -text
test/test_double_quoted.cpp -text
test/test_empty_doc.cpp -text
test/test_empty_file.cpp -text
test/test_empty_map.cpp -text
test/test_empty_seq.cpp -text
test/test_generic_map.cpp -text
test/test_generic_seq.cpp -text
test/test_github_issues.cpp -text
test/test_group.cpp -text
test/test_group.hpp -text
test/test_indentation.cpp -text
test/test_map_of_seq.cpp -text
test/test_merge.cpp -text
test/test_nested_mapx2.cpp -text
test/test_nested_mapx3.cpp -text
test/test_nested_mapx4.cpp -text
test/test_nested_seqx2.cpp -text
test/test_nested_seqx3.cpp -text
test/test_nested_seqx4.cpp -text
test/test_null_val.cpp -text
test/test_number.cpp -text
test/test_plain_scalar.cpp -text
test/test_preprocess.cpp -text
test/test_scalar_names.cpp -text
test/test_seq_of_map.cpp -text
test/test_simple_anchor.cpp -text
test/test_simple_doc.cpp -text
test/test_simple_map.cpp -text
test/test_simple_seq.cpp -text
test/test_simple_set.cpp -text
test/test_single_quoted.cpp -text
test/test_stack.cpp -text
test/test_suite.cpp -text
test/test_tag_property.cpp -text
